@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-brand: #3ECF8E;
  --color-brand-dark: #2da76f;
  --color-surface: #1C1C1C;
  --color-surface-light: #232323;
  --color-surface-border: #2e2e2e;
}
